<div class="row m-0 w-100">
    <div class="col-md-4 offset-4 mt-5" *ngIf="!this.isLogin">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class='form-group'>
                <input class="form-control" type="text" formControlName="username" placeholder="Username">
            </div>
            <div class='form-group'>
                <input class="form-control" type="text" formControlName="email" placeholder="Email">
            </div>
            <div class='form-group'>
                <input class="form-control" type="password" formControlName="password" placeholder="Password">
            </div>
            <button class="btn btn-outline-info" type="submit" [disabled]="!registerForm.valid">Register</button>
        </form>
    </div>    
    <p>
        Form Status: {{ registerForm.status }}
    </p>
</div>

<div class="col-md-4 offset-4 mt-5" *ngIf="this.isLogin">
    <h1>You are logged in</h1>
    <button class="btn btn-outline-info" (click)="logout()">Log-out</button>
</div>
